body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #DDFFE7;
}
.parentBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #DDFFE7;
    gap: 6px;
    height: 600px;
    width: 600px;
}
.childBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98D7C2;
    height: 196px;
    width: 196px;
}
.childBox:hover{
    background-color: #65A9A6

    ;
}
.mark{
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAF8F6 









    ;
}
#result{
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #98D7C2;
    position: absolute;
    top: 83vh;
}
#winLine{
    background-color: #EF7C8E;
    position: absolute;
    display:none;
}


